<div class="blog-post">
    <div class="down-content">
        <span>Entry Subject Here</span>
        <a href="post-details.html"><h4>Best Template Website for HTML CSS</h4></a>
        <ul class="post-info">
            <li><a href="#">User Role here</a></li>
            <li><a href="#">Create Date Here</a></li>
            <li><a href="#">Comments Count Here</a></li>
        </ul>
        <p>Entry Content Here</p>
        <div class="post-options">
            <div class="row">
                <div class="col-6">
                    <ul class="post-tags">
                        <li><i class="fa fa-tags"></i></li>
                        <li><a href="#">Beauty</a>,</li>
                        <li><a href="#">Nature</a></li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="post-share">
                        <li><i class="fa fa-share-alt"></i></li>
                        <li><a href="#">Facebook</a>,</li>
                        <li><a href="#"> Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>